<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestão de Produtos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/materiaPrima">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Matéria Prima
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/medicamento">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Medicamentos
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="cliente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clientes
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="pedido">
                <span class="bi bi-cart-fill-nav-menu" aria-hidden="true"></span> Pedidos
            </a>
        </div>
    </nav>
</div>